<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Northwood United Methodist Church - Esko, MN
									<br />
                  <a href="https://www.facebook.com/pages/Northwood-United-Methodist-Church-Esko-MN/113344768735604"><i class="fa fa-facebook"></i></a>
                  <a href="http://www.umc.org/"><i class="fa fa-flag"></i></a>
                  <a href="https://github.com/lostphilosopher/eskomethodist"><i class="fa fa-github"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
