<hr>
<h2 class="intro-text text-center">Pastor
    <strong>Brian Cornell</strong>
</h2>
<hr>
<img class="img-responsive img-border img-left" src="img/BrianCornell.png" alt="Picture of Northwood United Methodist Church Pastor Brian Cornell" title="Northwood Pastor Brian Cornell" width="400px">
<p>
I am third generation German on my mother’s side and third generation Canadian on my father’s side.  I was born in East Tennessee but attended college in Washington DC, Winston-Salem, NC and Durham, NC.  I fell in love with Katherine Vickers at Wake Forest in 1993 but finally wised up at Duke where we were married in 2000.  She is native of Atlanta, Georgia, but her family tree boasts Methodist ministers from Minnesota, Moravian ministers from Illinois and a Disciples of Christ pastor from Texas.  Our children were born in High Point NC (Michael, now age 15), Asheville NC (James and Paul, now age 13) and Gastonia NC (David, now 11).  We have a dog named Zeus who weighs 85 pounds and thinks he is Jesus (“Hey Zeus! Come here”).  My parents still live in East Tennessee and my sisters and their families live in Charlotte, NC and Brunswick, GA.
</p>
<B>
Education
</B>
<ul>
<li>
Bachelor of Arts (religion, English) from Wake Forest University
</li>
<li>
Master of Divinity from Duke Divinity School
</li>
</li>
</ul>
<strong>
Appointment History
</strong>
<ul>
<li>
Mount Vernon UMC in Trinity, NC; 2017-presently
</li>
<li>
Calvary UMC in Fleetwood, NC, Pleasant Valley UMC in Boone, NC , and Zion UMC in Todd, NC (Ashe-Watauga charge which was renamed to New River charge); 2011-2017
</li>
<li>
Christ UMC in Gastonia, NC; 2007-2010
</li>
<li>
Beaverdam UMC in Waynesville, NC and  Piney Grove UMC in Canton, NC; 2005-2007
</li>
<li>
Christ UMC in High Point, NC; 2000-2005 (associate pastor)
</li>
<li>
Christ UMC in Weaverville, NC; 1998 (field education)
</li>
</ul>

<strong>
Call to Ministry
</strong>
<p>
My call to ministry was confirmed in 1996, while working to grow a Sunday School class in my home church.  I heard God’s voice in this work, inviting me to continue serving those who had lost voices and places in the church.  But there are other marks of faith where I have seen God’s continued presence - a Baptist pastor telling me I wasn’t made to sell life insurance, a girl telling me I had been involved in her seeing God’s presence, a youth minister naming the work of God in me.  Even as recently as 2012, I’ve had my call renewed while watching congregational sisters and brothers play with puppets for a Vacation Bible School.  I’m pretty sure my call is ongoing.
</p>

<strong>
Vision of the Church
</strong>
<p>
We witness to Resurrection, the opportunity for new life, new beginnings, forgiveness and grace. We are the imperfect but striving, the wounded but healing, the very body of Christ that is imperfectly perfect. Our role is adoption of others who are our neighbors through witness, testimony and offering and asking forgiveness. We are encouragers of those that do Jesus’ work and pursue God's holiness in deed.
</p>

<p class="text-center">
<!-- @todo Phone and email... -->
</p>
