.force-width {
	width: 1000px;
}
.force-color {
	background-color: #FFFFFF;
	color: #000000;
}
.bg-main {
	background-color: #FFFFFF;
}
.bg-all {
	background-image: url('https://dl-web.dropbox.com/get/subtle_white_feathers.png?_subject_uid=252271092&w=AADypMksDne9OcxNr0Bs-yRO-EtegKiGsJ0XpXN3Z4dfkw');
}
.bg-fixed-alpha {
	background: url('http://www.northwoodesko.com/assets/images/fall_sky.jpg') top center no-repeat;
	background-attachment: fixed;
	width: 100%;
	background-size: 100%;
}
.bg-fixed-beta {
	/*background-color: #F1F1F1;*/
	background: url('http://www.northwoodesko.com/assets/images/pine_sky.jpg') bottom center no-repeat;
	background-attachment: fixed;
	width: 100%;
	background-size: 100%;
}
.bg-fixed-gamma {
	/*background-color: #F1F1F1;*/
	background: url('http://www.northwoodesko.com/assets/images/green_trees.jpg') bottom center no-repeat;
	background-attachment: fixed;
	width: 100%;
	background-size: 100%;
}
.bg-alpha {
	background-color: #F1F1F1;
    color: #000000;
}
.bg-beta {
	background-color: #000000;
    color: #FFFFFF;
}
a, a:hover {
    color: #FF0000;
}
.foo {
    background-color: #FFFFFF;
}
a:hover {
    color: #F1F1F1 !important;
}
