.bg-all {
	background-color: #F7F4E1;
}
.bg-alpha {
	background-color: #C46234;
}
.bg-beta {
	background-color: #FEF6AB;
}
.bg-gamma {
	background-color: #D5E9F4;
}
.bg-delta {
	background-color: #675B55;
	color: #FFFFFF;
}
.bg-epsilon {
	background-color: #8882B0;
}
